<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrdh.dao.tradeSettlement.DevlasteststateMapper" >
  <resultMap id="BaseResultMap" type="com.zrdh.pojo.tradeSettlement.Devlasteststate" >
    <id column="DtuId" property="dtuid" jdbcType="VARCHAR" />
    <id column="DevName" property="devname" jdbcType="VARCHAR" />
    <result column="CurWaterFlow" property="curwaterflow" jdbcType="REAL" />
    <result column="CurHeatNum" property="curheatnum" jdbcType="REAL" />
    <result column="TotalWaterFlow" property="totalwaterflow" jdbcType="INTEGER" />
    <result column="TotalHeatNum" property="totalheatnum" jdbcType="INTEGER" />
    <result column="SupplyWaterTmp" property="supplywatertmp" jdbcType="REAL" />
    <result column="ReturnWaterTmp" property="returnwatertmp" jdbcType="REAL" />
    <result column="LastUpdateTime" property="lastupdatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    DtuId, DevName, CurWaterFlow, CurHeatNum, TotalWaterFlow, TotalHeatNum, SupplyWaterTmp, 
    ReturnWaterTmp, LastUpdateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.zrdh.pojo.tradeSettlement.DevlasteststateKey" >
    select 
    <include refid="Base_Column_List" />
    from devlasteststate
    where DtuId = #{dtuid,jdbcType=VARCHAR}
      and DevName = #{devname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zrdh.pojo.tradeSettlement.DevlasteststateKey" >
    delete from devlasteststate
    where DtuId = #{dtuid,jdbcType=VARCHAR}
      and DevName = #{devname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zrdh.pojo.tradeSettlement.Devlasteststate" >
    insert into devlasteststate (DtuId, DevName, CurWaterFlow, 
      CurHeatNum, TotalWaterFlow, TotalHeatNum, 
      SupplyWaterTmp, ReturnWaterTmp, LastUpdateTime
      )
    values (#{dtuid,jdbcType=VARCHAR}, #{devname,jdbcType=VARCHAR}, #{curwaterflow,jdbcType=REAL}, 
      #{curheatnum,jdbcType=REAL}, #{totalwaterflow,jdbcType=INTEGER}, #{totalheatnum,jdbcType=INTEGER}, 
      #{supplywatertmp,jdbcType=REAL}, #{returnwatertmp,jdbcType=REAL}, #{lastupdatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zrdh.pojo.tradeSettlement.Devlasteststate" >
    insert into devlasteststate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dtuid != null" >
        DtuId,
      </if>
      <if test="devname != null" >
        DevName,
      </if>
      <if test="curwaterflow != null" >
        CurWaterFlow,
      </if>
      <if test="curheatnum != null" >
        CurHeatNum,
      </if>
      <if test="totalwaterflow != null" >
        TotalWaterFlow,
      </if>
      <if test="totalheatnum != null" >
        TotalHeatNum,
      </if>
      <if test="supplywatertmp != null" >
        SupplyWaterTmp,
      </if>
      <if test="returnwatertmp != null" >
        ReturnWaterTmp,
      </if>
      <if test="lastupdatetime != null" >
        LastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dtuid != null" >
        #{dtuid,jdbcType=VARCHAR},
      </if>
      <if test="devname != null" >
        #{devname,jdbcType=VARCHAR},
      </if>
      <if test="curwaterflow != null" >
        #{curwaterflow,jdbcType=REAL},
      </if>
      <if test="curheatnum != null" >
        #{curheatnum,jdbcType=REAL},
      </if>
      <if test="totalwaterflow != null" >
        #{totalwaterflow,jdbcType=INTEGER},
      </if>
      <if test="totalheatnum != null" >
        #{totalheatnum,jdbcType=INTEGER},
      </if>
      <if test="supplywatertmp != null" >
        #{supplywatertmp,jdbcType=REAL},
      </if>
      <if test="returnwatertmp != null" >
        #{returnwatertmp,jdbcType=REAL},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrdh.pojo.tradeSettlement.Devlasteststate" >
    update devlasteststate
    <set >
      <if test="curwaterflow != null" >
        CurWaterFlow = #{curwaterflow,jdbcType=REAL},
      </if>
      <if test="curheatnum != null" >
        CurHeatNum = #{curheatnum,jdbcType=REAL},
      </if>
      <if test="totalwaterflow != null" >
        TotalWaterFlow = #{totalwaterflow,jdbcType=INTEGER},
      </if>
      <if test="totalheatnum != null" >
        TotalHeatNum = #{totalheatnum,jdbcType=INTEGER},
      </if>
      <if test="supplywatertmp != null" >
        SupplyWaterTmp = #{supplywatertmp,jdbcType=REAL},
      </if>
      <if test="returnwatertmp != null" >
        ReturnWaterTmp = #{returnwatertmp,jdbcType=REAL},
      </if>
      <if test="lastupdatetime != null" >
        LastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DtuId = #{dtuid,jdbcType=VARCHAR}
      and DevName = #{devname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrdh.pojo.tradeSettlement.Devlasteststate" >
    update devlasteststate
    set CurWaterFlow = #{curwaterflow,jdbcType=REAL},
      CurHeatNum = #{curheatnum,jdbcType=REAL},
      TotalWaterFlow = #{totalwaterflow,jdbcType=INTEGER},
      TotalHeatNum = #{totalheatnum,jdbcType=INTEGER},
      SupplyWaterTmp = #{supplywatertmp,jdbcType=REAL},
      ReturnWaterTmp = #{returnwatertmp,jdbcType=REAL},
      LastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP}
    where DtuId = #{dtuid,jdbcType=VARCHAR}
      and DevName = #{devname,jdbcType=VARCHAR}
  </update>
<!--  todo 等数据库表修改之后再改 pojo也要修改-->
  <select id="selectByAlarmCoditions" parameterType="com.zrdh.entity.AlarmConditions" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    devlasteststate
    where
    <if test="gtHeatNumber != null">
      CurrentHeatNumber &gt; #{gtHeatNumber}
    </if>
    <if test="ltHeatNumber != null">
      CurrentHeatNumber &lt; #{ltHeatNumber}
    </if>
    <if test="gtWdc != null">
      Wdc &gt; #{gtWdc}
    </if>
    <if test="ltWdc != null">
      Wdc &lt; #{ltWdc}
    </if>
    <if test="gtHeatPower != null">
      HeatPower &gt; #{gtHeatPower}
    </if>
    <if test="ltHeatPower != null">
      HeatPower &lt; #{ltHeatPower}
    </if>
    <if test="gtTotalFlow != null">
      TotalFlow &gt; #{gtTotalFlow}
    </if>
    <if test="ltTotalFlow != null">
      TotalFlow &lt; #{ltTotalFlow}
    </if>
    <if test="gtVoltage != null">
      Voltage &gt; #{gtVoltage}
    </if>
    <if test="ltVoltage != null">
      Voltage &lt; #{ltVoltage}
    </if>
    <if test="gtFlowrate != null">
      FlowRate &gt; #{gtFlowrate}
    </if>
    <if test="ltFlowrate != null">
      FlowRate &lt; #{ltFlowrate}
    </if>
  </select>
</mapper>