<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrdh.dao.dispatchCenter.TagsMapper" >
  <resultMap id="BaseResultMap" type="com.zrdh.pojo.dispatchCenter.Tags" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="TagName" property="tagname" jdbcType="VARCHAR" />
    <result column="TagComment" property="tagcomment" jdbcType="VARCHAR" />
    <result column="DevName" property="devname" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.zrdh.pojo.dispatchCenter.Tags" >
    insert into tags (id, TagName, TagComment, 
      DevName)
    values (#{id,jdbcType=INTEGER}, #{tagname,jdbcType=VARCHAR}, #{tagcomment,jdbcType=VARCHAR}, 
      #{devname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zrdh.pojo.dispatchCenter.Tags" >
    insert into tags
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tagname != null" >
        TagName,
      </if>
      <if test="tagcomment != null" >
        TagComment,
      </if>
      <if test="devname != null" >
        DevName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tagname != null" >
        #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="tagcomment != null" >
        #{tagcomment,jdbcType=VARCHAR},
      </if>
      <if test="devname != null" >
        #{devname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <select id="selectRLZInfos" resultMap="BaseResultMap">
    SELECT * FROM `tags` where TagComment = '累积热量' and id not in
    <foreach collection="notBelongRlzId" open="(" close=")" separator="," item="item">
      #{item,jdbcType=INTEGER}
    </foreach>
  </select>
</mapper>